<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-3" data-toc-modified-id="Challenge-3-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 3</a></span><ul class="toc-item"><li><span><a href="#Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?" data-toc-modified-id="Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Q1: How to identify VIP &amp; Preferred Customers?</a></span></li><li><span><a href="#How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>How to label customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?" data-toc-modified-id="Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?-1.2.0.1"><span class="toc-item-num">1.2.0.1&nbsp;&nbsp;</span>Sub Problem 1: How to aggregate the  <code>amount_spent</code> for unique customers?</a></span></li><li><span><a href="#Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2.0.2"><span class="toc-item-num">1.2.0.2&nbsp;&nbsp;</span>Sub Problem 2: How to select customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span></li><li><span><a href="#Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?" data-toc-modified-id="Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?-1.2.0.3"><span class="toc-item-num">1.2.0.3&nbsp;&nbsp;</span>Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?</a></span></li></ul></li></ul></li><li><span><a href="#Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?" data-toc-modified-id="Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Q2: How to identify which country has the most VIP Customers?</a></span></li><li><span><a href="#Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?" data-toc-modified-id="Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Q3: How to identify which country has the most VIP+Preferred Customers combined?</a></span></li></ul></li></ul></div>

# Challenge 3

In this challenge we will work on the `Orders` data set (https://drive.google.com/file/d/1xUzMpyQgC5IaK61ehUH2C5P4jCPmLa-s/view?usp=sharing). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Data Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [22]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [23]:
# your code here
orders = pd.read_csv(r'C:\Users\vithushan\IronHack\Lab_29 Dataframe Calculations\orders.csv')

In [24]:
orders.shape

(397924, 14)

In [25]:
orders.head(5)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [58]:
# your code here
#To aggreagate the amount_spent I aggregate it and group by the Customer ID
#money spent by customer:
agg_customer = orders.groupby('CustomerID', as_index=False).agg({'amount_spent':'sum'})
agg_customer.shape

(4339, 2)

In [59]:
agg_customer.head(5)

   CustomerID  amount_spent
0       12346      77183.60
1       12347       4310.00
2       12348       1797.24
3       12349       1757.55
4       12350        334.40

In [39]:
#Now to identify the VIP customer, Prefered an dRegular customers I will first create customer labels
cus_labels = ['Regular','Preffered', 'VIP']

In [30]:
#then I will check what are the border values of three groups of clients that I want to label
#I check min, max and values of two quantiles of 75% and 95%
agg_min = agg_customer.min()
agg_min

CustomerID      12346.0
amount_spent        0.0
dtype: float64

In [31]:
agg_max = agg_customer.max()
agg_max

CustomerID       18287.00
amount_spent    280206.02
dtype: float64

In [46]:
q_095 = agg_customer['amount_spent'].quantile(0.95)
q_095

5840.181999999982

In [48]:
q_075 = agg_customer['amount_spent'].quantile(0.75)
q_075

1661.64

In [60]:
#Now I can divide clients into three groups and lebel them by creating a new columns and bins 
cutoffs = [0, 1661.64, 5840.2, 280206.02]
agg_customer["label"] = pd.cut(agg_customer['amount_spent'], cutoffs, labels=cus_labels)

In [109]:
agg_customer.head(5)
agg_customer.shape

(4339, 3)

In [65]:
#I check to confirm if maximum values in each group are corresponding to the values of the quantiles
blabels_cust = agg_customer.groupby('label', as_index=False).agg({'amount_spent':'max'})
blabels_cust

       label  amount_spent
0    Regular       1661.44
1  Preffered       5836.86
2        VIP     280206.02

In [66]:
#I also check the number of customers in each label
agg_customer['label'].value_counts()

Regular      3253
Preffered     868
VIP           217
Name: label, dtype: int64

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [67]:
# your code here
orders.shape

(397924, 14)

In [68]:
orders.head(5)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [116]:
agg_customer['CustomerID'].value_counts()

12346    1
16298    1
16274    1
16275    1
16276    1
        ..
14323    1
14326    1
14327    1
14329    1
18287    1
Name: CustomerID, Length: 4339, dtype: int64

In [118]:
#First, I  merged to data frames to have everything in the same place
merged_ord_label = orders.merge(agg_customer, on = 'CustomerID', how = 'left')
merged_ord_label.head(5)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent_x,amount_spent_y,label
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,5391.21,Preffered
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preffered
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,5391.21,Preffered
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preffered
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,5391.21,Preffered

In [113]:
merged_ord_label.shape

(397924, 16)

In [101]:
#Now, I filter the dataset to have only VIP clients. I know that there are 217 VIPs.
cust_VIP = merged_ord_label[(merged_ord_label['label']=='VIP')]

In [102]:
cust_VIP['label'].value_counts()

VIP          104484
Regular           0
Preffered         0
Name: label, dtype: int64

In [121]:
#Now I group everything by CoustomerID and Country
vip_by_count = cust_VIP.groupby(['CustomerID', 'Country'], as_index=False).agg({'label': 'count'})
vip_by_count

     CustomerID         Country  label
0         12346  United Kingdom      1
1         12357     Switzerland    131
2         12359          Cyprus    248
3         12409     Switzerland    109
4         12415       Australia    716
..          ...             ...    ...
213       18109  United Kingdom    444
214       18139  United Kingdom    159
215       18172  United Kingdom    189
216       18223  United Kingdom    272
217       18229  United Kingdom    164

[218 rows x 3 columns]

In [123]:
#Now I can group it by country and count customers
vip_by_count.groupby('Country',as_index=False).agg({'CustomerID': 'count'}).sort_values('CustomerID')

            Country  CustomerID
1           Belgium           1
2   Channel Islands           1
3            Cyprus           1
4           Denmark           1
6           Finland           1
10      Netherlands           1
11           Norway           1
13        Singapore           1
15           Sweden           1
0         Australia           2
5              EIRE           2
9             Japan           2
12         Portugal           2
14            Spain           2
16      Switzerland           3
7            France           9
8           Germany          10
17   United Kingdom         177

In [125]:
#The largest number of VIP clients comes from United Kingdom
vip_by_count.groupby('Country',as_index=False).agg({'CustomerID': 'count'}).sum()

Country       AustraliaBelgiumChannel IslandsCyprusDenmarkEI...
CustomerID                                                  218
dtype: object

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [128]:
# your code here
#I used previous code to find all customers that are not Regular
cust_VIP_Pref= merged_ord_label[(merged_ord_label['label']!='Regular')] 
cust_VIP_Pref.value_counts('label')

label
Preffered    151781
VIP          104484
Regular           0
dtype: int64

In [129]:
#Now I group everything by customers and Country 
vip_reg_by_count = cust_VIP.groupby(['CustomerID', 'Country'], as_index=False).agg({'label': 'count'})
vip_reg_by_count

      CustomerID         Country  label
0          12346  United Kingdom      1
1          12347         Iceland    182
2          12348         Finland     31
3          12349           Italy     73
4          12352          Norway     85
...          ...             ...    ...
1087       18259  United Kingdom     42
1088       18260  United Kingdom    134
1089       18272  United Kingdom    166
1090       18283  United Kingdom    756
1091       18287  United Kingdom     70

[1092 rows x 3 columns]

In [131]:
#Now I group everything by Country and I count ID

vip_reg_by_count.groupby('Country',as_index=False).agg({'CustomerID': 'count'}).sort_values('CustomerID')

            Country  CustomerID
3            Canada           1
22        Singapore           1
20           Poland           1
18      Netherlands           1
17            Malta           1
16          Lebanon           1
11           Greece           1
12          Iceland           1
13           Israel           2
24           Sweden           2
1           Austria           3
6           Denmark           3
7              EIRE           3
15            Japan           4
0         Australia           4
5            Cyprus           4
4   Channel Islands           4
8           Finland           5
14            Italy           5
19           Norway           7
21         Portugal           7
25      Switzerland           9
23            Spain           9
2           Belgium          12
9            France          29
10          Germany          39
26   United Kingdom         933

In [ ]:
#The highest number of both VIP and Prefered customers come from UK as well.