In [1]:
import numpy as np
import random
import scipy.stats as st
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [4]:
im=pd.read_csv(r"C:\Users\Vithushan\Downloads\imdb.csv")
im.head()

,Unnamed: 0,title,year,kind,genre,rating,vote,country,language,cast,director,composer,writer,runtime
0,0,Dinosaur Planet,2003.0,tv mini series,"['Documentary', 'Animation', 'Family']",7.7,474.0,['United States'],['English'],"['Christian Slater', 'Scott Sampson']",NaN,NaN,"['Mike Carrol', 'Mike Carroll', 'Georgann Kane']",50.0
1,1,Character,2021.0,movie,"['Crime', 'Horror', 'Thriller']",8.3,46.0,['Japan'],['Japanese'],"['Masaki Suda', 'Fukase', 'Mitsuki Takahata', ...",['Akira Nagai'],['Youki Kojima'],"['Takashi Nagasaki', 'Takashi Nagasaki', 'Anna...",125.0
2,2,Get Up and Dance!,1994.0,video movie,['Family'],8.1,18.0,['United States'],['English'],"['Paula Abdul', 'Aurorah Allain', 'Bill Bohl',...",['Steve Purcell'],NaN,NaN,54.0
3,3,The Rise and Fall of El Chapo,2016.0,tv movie,['Documentary'],6.9,42.0,['United States'],NaN,NaN,NaN,NaN,NaN,85.0
4,4,Sick - IMDb,NaN,NaN,['Thriller'],NaN,NaN,['United States'],NaN,"['Marc Menchaca', 'Gideon Adlon', 'Dylan Spray...",['John Hyams'],NaN,"['Katelyn Crabb', 'Kevin Williamson']",NaN

In [6]:
type(im)

pandas.core.frame.DataFrame

In [8]:
im.isna().sum().sort_values(ascending=False)

composer      3622
director      1860
writer        1656
runtime       1056
rating         877
vote           877
language       793
country        665
cast           344
genre           93
year            70
kind            38
title            1
Unnamed: 0       0
dtype: int64

In [10]:
im.composer.unique()

array([nan, "['Youki Kojima']", "['Carole King']", ...,
       "['William Allen Castleman', 'William Loose']",
       "['Jason M. Hall']", "['Kunio Miyauchi']"], dtype=object)

In [11]:
im.composer.value_counts()

['John Williams']                   28
['James Horner']                    27
['Jim Parker']                      27
['Ennio Morricone']                 26
['Elmer Bernstein']                 25
                                    ..
['Tomohiko Kira']                    1
['David Motion', 'Sally Potter']     1
['Carl Schultz']                     1
['Ruy Folguera']                     1
['Kunio Miyauchi']                   1
Name: composer, Length: 3296, dtype: int64

In [12]:
im.director.value_counts()

['Kevin Dunn']          35
['Akira Kurosawa']      18
['Jim Wynorski']        15
['Tom Clegg']           15
['Alfred Hitchcock']    15
                        ..
['Masaharu Okuwaki']     1
['Salty Cracker']        1
['Sanaa Hamri']          1
['Greg Griffin']         1
['Matt Codd']            1
Name: director, Length: 5018, dtype: int64