In [1]:
import numpy as np
import pandas as pd

In [8]:
# Set random seed
np.random.seed(42)

# Define total number of products
number_of_products = 10

# Create data dictionary
data = {'product_id':np.arange(1, number_of_products+1).tolist(),
       'measure':np.round(np.random.normal(loc=10, scale=0.5, size=number_of_products),3)}

# Transform dictionary into a data frame
df = pd.DataFrame(data)

# View data frame
df

   product_id  measure
0           1   10.248
1           2    9.931
2           3   10.324
3           4   10.762
4           5    9.883
5           6    9.883
6           7   10.790
7           8   10.384
8           9    9.765
9          10   10.271

In [9]:
simple_random_sample = df.sample(n=4).sort_values(by='product_id')

In [10]:
simple_random_sample

   product_id  measure
2           3   10.324
6           7   10.790
7           8   10.384
8           9    9.765